@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.Typewriter__cursor {
  color: #4ab767;
  font-size: 5rem;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .Typewriter__cursor {
    font-size: 3rem;
  }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .Typewriter__cursor {
    font-size: 3rem;
  }
}

/* Medium devices (small laptops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .Typewriter__cursor {
    font-size: 3rem;
  }
}


